@import "./reset.scss";
@import "./element.scss";
@import "./sidebar.scss";

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app-container {
  padding: 20px;
}
.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}
